#container{
  padding-left: 200px;
  padding-right: 150px;
  background-color: aquamarine;
}
#container .column {
  float: left;
  position: relative;
  height:200px;
}
#center {
  width: 100%;
  background-color: red;
}
#left {
  width: 200px;
  background-color: #C1EEF4;
  margin-left: -100%;
  right: 200px;
}
#right {
  width: 150px;
  background-color: aqua;
  margin-right: -150px;
}
#header,#footer {
  width:100%;
  background-color: grey;
  height:30px;
  clear:both;
  text-align: center;
}

